/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

.entry-header{
	p{
		line-height: 170%;
	}
	&.link-content{
		position: relative;
		@media (min-width: 992px){
			a{
				right: 0;
				top: 50%;
				font-weight: 800;
				transform: translateY(-50%);
				color: $color-2;
				position: absolute;
			}
		}
	}
	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h-style-1{
	&:after{
		content: "";
		position: absolute;
		width: 120px;
		height: 2px;
		border-radius: 5px;
		background-color: $color-1;
		bottom: 0;
		left: 0;
		@media (max-width: 991px){
			display: none;
		}
	}
	@media (min-width: 992px){
		padding-bottom: 0.6em;
	}
	&.text-center{
		&:after{
			left: 50% !important;
			transform: translateX(-50%);
		}
	}
	@media (max-width: 991px) {
		&:after, &:before{
			display: none;
		}
	}
}
.h-style-2{
	&:before{
		@extend .clafclear;
		width: 40px;
		pointer-events: none;
		top: 50%;
		margin-left: -15px;
		transform: translate(-100%, -50%);
		background-color: $color-1;
		height: 4px;
	}
	@media (min-width: 992px){
		padding-left: 60px;
	}
	@media (max-width: 991px){
		&:before, &:after{
			display: none;
		}
	}
}


.h1-style-1{
	h1:not(.no-style){
		@extend .h-style-1;
	}
	&.text-center{
		h1:not(.no-style):after{
			left: 50% !important;
			transform: translateX(-50%);
		}
	}
}
.h1-style-2{
	h1:not(.no-style){
		@extend .h-style-2;
	}
	&.text-center{
		h1:after{
			@extend .clafclear;
			width: 40px;
			pointer-events: none;
			top: 50%;
			margin-left: -20px;
			transform: translate(100%, -50%);
			background-color: $color-1;
			height: 4px;
		}
	}
}


.h2-style-1{
	h2:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-color: $color-1;
			bottom: 0;
			@media (min-width: 992px){
				
			}
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(16);
	line-height: 135%;
	margin-bottom: 10px;
}


.overflow-wrapper{
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}





.arrow-pic{
	overflow: hidden;
	position: relative;
	&:before{
		@extend .clafclear;
		width: 20px;
		height: 20px;
		bottom: -10px;
		transform: rotate(45deg) matrix(1, 0.2, 0.2, 1, 0, 0);
		background-color: white;
		left: 30px;
		z-index: 1;
	}
}



//content

.bnr-main{
	background-color: $color-gray-3;
	background-repeat: no-repeat;
	background-image: url('../img/other/bnr-main.svg');
	background-position: 40vw 100px;
	background-size: 830px;
	padding-bottom: 100px;
	border-radius: 0 0 50px 50px;
	.wrapper{
		min-height: 590px;
		display: flex;
		align-items: center;
		padding-top: 100px;
	}	
	h1{
		font-size: em(60);
	}
	@media (max-width: 991px){
		background-position: bottom;
		h1{
			font-size: em(35);		
		}
		padding-bottom: 30px;
		.wrapper{
			padding-top: 30px;
			min-height: 250px;
		}
	}
}
.gradient-hover{
	position: relative;
	z-index: 1;
	&:after{
		@extend .clafclear;
		background: $gradient-1;
		left: 0;
		top: 0;
		z-index: -1;
		opacity: 0;
		transition: all 0.3s ease;
	}
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}
.bnr-socials{
	top: 50%;
	position: absolute;
	left: -15px;
	transform: translateY(-50%) translateX(-100%);
	ul{
		display: flex;
		flex-direction: column;
	}
	li{
		color: $color-gray-4;
		font-weight: 500;
		margin-top: 10px;
		margin-bottom: 10px;
		a{
			display: flex;
			align-items: center;
	    writing-mode: vertical-lr;
	    .rotate-text{
	    	margin-top: 10px;
	    	transform: rotate(180deg);
	    }
		}
		i{
			color: black;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: white;
			@extend .shadow-def;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.bnr-links{
	@extend .shadow-def;
	border-radius: 15px;
	text-align: center;
	overflow: hidden;
	li{
		width: 100%;
		@media (min-width: 992px){
			&:not(:last-child){
				border-right: 2px solid $color-gray-2;
			}
		}
		&:hover{
			a{
				color: white;
			}
		}
	}
	a{
		@extend .gradient-hover;
		background-color: white;
		//background-image: $gradient-1;
		padding: 35px 30px;
		overflow: hidden;
		color: black;
		text-transform: uppercase;
		font-size: em(18);
		font-weight: 600;
		display: block;
	}
}

.short-about{
	margin-top: 30px;
	@media (min-width: 992px){
		margin-top: -80px;
	}
	.border{
		background-color: white;
		padding: 20px;
		border-radius: 20px;
		box-shadow: 20px 10px 50px 0 rgba(black, 0.2);
	}
	.wrapper{
		border: 1px solid $color-gray-2;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 10px;
		background-image: url('../img/bg/short-about.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		.m-auto{
		}
	}
}


//short-commission
.short-commission-items{
	border-radius: 15px;
	overflow: hidden;
	.flex-adaptive{
		align-items: center;
		background-color: #fafafa;
		padding: 10px 20px;
		min-height: 155px;
		@extend .gradient-hover;
		&:hover{
			cursor: pointer;
			color: white;
			.img-content{
				@extend .filter-white;
			}
		}
	}
	.desc-content{
		font-weight: 800;
		font-size: em(20);
	}
	.img-content{
		min-width: 65px;
		margin-right: 15px;
	}
	figure{
		@media (min-width: 991px){
			border: 1px solid $color-gray-2;
			&:nth-child(1), &:nth-child(2), &:nth-child(3){
				border-top: 0;
			}
			&:nth-child(4), &:nth-child(5), &:nth-child(6){
				border-bottom: 0;
			}
			&:nth-child(1), &:nth-child(4){
				border-left: 0;
			}
			&:nth-child(3), &:nth-child(6){
				border-right: 0;
			}

		}
	}
}

//short-projects
.short-projects{
	.wrapper{
		background-color: $color-gray-3;
		border-radius: 20px;
		padding: 20px 30px;
	}

}
.short-projects-items{
	overflow: hidden;
	.color-gray-4{
		line-height: 100%;
	}
	.img-content, .desc-content{
		min-width: 50%;
		@media (max-width: 991px){
			min-width: 100%;
			margin-bottom: 5px;
		}
	}
	.price{
		font-size: em(45);
		font-family: $font-family-2;
		font-weight: 900;
	}
	.img{
		background-size: cover;
		height: 400px;
		border-radius: 15px;
		@media (max-width: 991px){
			height: 250px;
		}
	}
}
.owl-btn-3{
	.owl-nav{
		top: 10px;
		position: absolute;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		@media(max-width: 991px){
			position: relative;
		}
	}
}


.short-news{
	.h1{
		a{
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			font-size: 16px;
			font-weight: 400;
			color: $color-2;
		}
	}
	.entry-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 991px){
			flex-direction: column;
			justify-content: center;
		}
	}
}
.news-navtabs{
	@media (min-width: 992px){
		padding-right: 150px;
		a{
			min-width: 85px;
		}
	}
	ul{
		@media (max-width: 991px){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	li{
		a{
			background-color: transparent;
			border-radius: 15px;
			display: inline-block;
			padding: 5px 15px;
			text-align: center;
			font-weight: 500;
			color: $color-gray-4;
		}
		&.active{
			a{
				font-weight: 600;
				color: black;
				background-color: $color-2;
			}
		}
	}
}
.short-news-items{
	.owl-nav{
		@media (min-width: 992px){
			top: -90px;
		}
	}
	figure{
		.img{
			height: 200px;
			background-size: cover;
			transition: all 0.3s ease;
		}
		&:hover{
			.img{
				transform: scale(1.05);
			}
		}
	}
	.img-content{
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		i{
			position: absolute;
			z-index: 1;
			top: 10px;
			left: 10px;
			pointer-events: none;
			color: white;
			font-weight: 100;
			font-size: em(40);
		}
	}
}
.date-content{
	color: $color-gray-4;
	font-size: 0.9em;
	i{
		margin-right: 10px
	}
}



.stand-logo{
	height: 60px;
	display: block;
	@media (max-width: 991px){
		display: none;
	}
}
.about{
}
.about-items{
	.img{
		border-radius: 20px;
		overflow: hidden;
		background-size: cover;
		height: 400px;
	}
}

//news
.news-main{

	h3{
		font-family: $font-family-1;
	}
	p{
		line-height: 160%;
		font-size: em(14);
	}
	.date-content{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 0.8em;
	}
	.main-img{
		.img{
			height: 335px;
		}
	}
	.img{
		height: 220px;
		border-radius: 15px;
		background-size: cover;
	}
	.news-main-items{
		figure{
			display: flex;
			@media (max-width: 991px){
				flex-direction: column;
			}
			.desc-content{
				padding-left: 15px;
			}
		}
	}
}

//news-article
.news-article{
	.link-content{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 991px) {
			justify-content: inherit;
			flex-direction: column;
		}
		&>a{
			color: $color-1;
			font-weight: 800;
		}
		.socicons{
			font-size: 0.7em;
			i{
				color: $color-gray-4;
			}
			li{
				&:hover{
					i{
						color: $color-1;
					}
				}
			}
		}
	}
}




//docs
.docs{
}
.docs-navbar{
	li{
		margin-top: 2px;
		margin-bottom: 2px;
		a{
			@extend .gradient-hover;
			background-color: $color-gray-3;
			color: black;
			padding: 20px 10%;
			display: block;
			font-weight: 600;
		}
		&:hover{
			a{
				color: white;
			}
		}
	}
}
.docs-items{
	.img-content{
		width: 100px;
		height: 100px;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100px;
		border-radius: 15px;
		@media (max-width: 991px){
			display: none;
		}
	}
	.desc-content{
		padding-left: 20px;
		h4{
			margin-top: 0;
		}
	}
	p{
		color: $color-gray-4;
		line-height: 150%;
		font-size: em(14.5);
	}

	figure{
		border: 1px solid $color-gray-3;
		border-radius: 15px;
		padding: 25px 25px;
		display: flex;
		transition: all 0.3s ease;
		&:hover{
			background-color: $color-gray-3;
		}
	}
	.download-link{
		text-align: right;
		@media (max-width: 991px){
			text-align: center;
		}
	}
}
.word-img, .excel-img{
	width: 55px;
	height: 52px;
	background-size: contain;
	background-repeat: no-repeat;	
}
.word-img{
	background-image: url('../img/icons/word.svg');
}	
.excel-img{
	background-image: url('../img/icons/excel.svg');
}	

.download-link{
	a{
		color: #1565c0;
		font-size: em(14);
		font-weight: 600;
	}
	i{
		padding-right: 10px;
	}
	*{
		vertical-align: middle;
	}
}


//projects-add
.projects-add-form{
	border: 1px solid $color-gray-3;
	border-radius: 20px;
	//display: flex;
	.footer-form{
		.form-content{
			border-radius: 0;
			box-shadow: none;
		}
	}
	.doc-content{
		padding: 20px;
		z-index: 1;
		@extend .arrow-pic;
		overflow: visible;
		&:before{
			transform: rotate(135deg) matrix(1.3, 0.2, 0.2, 1.3, 0, 0);
			left: auto;
			right: -10px;
			background-color: white;
			top: auto;
			bottom: 15%;

			//transform: translateY(-50%);
		}
		figure{
			display: flex;	
			align-items: center;
			.download-link{
				padding-left: 30px;
			}
		}
	}
	.img-content{
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color-gray-2;
		border-radius: 15px;
		height: 100px;
	}
}


.projects{
	.short-projects-items{
		figure{
			padding: 30px;
			border-radius: 15px;
			background-color: $color-gray-3;
			@media (max-width: 991px){
				padding: 15px;
			}
		}
	}
}


//steps
.steps-list{
	ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: -5px;
		li{
			margin-top: 5px;
			margin-bottom: 5px;
			padding-left: 5px;
			padding-right: 5px;
			width: 50%;
			min-width: 50%;
			font-size: 0.9em;
			font-weight: 600;
			@media (max-width: 991px){
				width: 100%;
				min-width: 100%;
			}
			.text-w{
				padding: 20px 30px;
				display: block;
				background-color: $color-gray-3;
				*{
					vertical-align: middle;
				}
				&:before{
					margin-bottom: -2px;
					content: "";
					margin-right: 10px;
					background-image: url('../img/icons/list-icon-green-big.png');
					width: 15px;
					height: 15px;
					position: relative;
					display: inline-block;
					background-size: contain;
					background-position: center;
					@media (max-width: 991px){
						display: none;
					}
				}
			}
		}
	}
}

.staff-items{
	.img-content{
		position: relative;
	}
	.img{
		margin: auto;
		border-radius: 50%;
		width: 185px;
		height: 185px;
		background-position: center;
		background-size: cover;
	}
	h4{
		font-size: em(16);
		color: $color-1;
		margin: 0;
	}
	.desc-content, .staff-info, .staff-maininfo, .wrapper, .icm{
		transition: all 0.3s ease;
	}
	.desc-content{
		margin-top: 50px;
		margin-bottom: 15px;
	}
	figure{
		padding-top: 15px;
		padding-bottom: 40px;
		.wrapper{
			text-align: center;
			position: relative;
			padding: 15px;
			background-color: $color-gray-2;
			&:before{
				@extend .clafclear;;
				transition: all 0.3s ease;
				clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
				z-index: -1;
				transform: scale(1.065);
				background-color: $color-1;
				left: 0;
				top: 0;
			}
		}
		&:hover{
			.wrapper{
				@extend .shadow-def;
				background-color: white;
				&:before{
					clip-path: polygon(45% 0, 97% 0%, 35% 100%, 4% 100%)
				}
			}
			.desc-content{
				margin-top: 15px;
			}
			.staff-maininfo{
				padding-bottom: 30px;
			}
			.icm{
				opacity: 1;
				transform: scale(1);
				&:hover{
					transition-timing-function: ease !important;
				}
			}
		}

		@media (max-width: 991px) {
			.wrapper{
				background-color: white;
				&:before{
					clip-path: polygon(45% 0, 97% 0%, 35% 100%, 4% 100%)
				}
			}
			.desc-content{
				margin-top: 15px;
			}
			.staff-maininfo{
				padding-bottom: 30px;
			}
			.icm{
				opacity: 1;
				transform: scale(1);
				&:hover{
					transition-timing-function: ease !important;
				}
			}
		}

	}
}
.staff-info{
	position: absolute;
	bottom: 15px;
	width: 100%;
	left: 0px;
	ul{
		position: relative;
		width: 100%;
    margin: 0;
	}
	.icm{
		border: 1px solid $color-1;
		display: inline-block;
		width: 30px;
		height: 30px;
		transition-delay: 0s;
		border-radius: 50%;
		transform: scale(0.0);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		color: $color-1;
		transition-timing-function: cubic-bezier(0.62, 0, 0, 1.4);
		&:after{
    	@extend .clafclear;
    	width: 10px;
    	height: 10px;
    	background-color: $color-gray-1;
    	transform: rotate(45deg);
    	bottom: -20px;
    	opacity: 0;
    	
    }
	}
	li{
		&:hover{
			cursor: pointer;
			.icm{
				background-color: $color-1;
				color: white;
				&:after{
					opacity: 1;
					bottom: -15px;
					transition: all 0.3s ease 0.2s;
				}
			}
			.info-content{
				transform: translateY(100%);
			}
		}
	}
	.info-content{
		background-color: $color-gray-2;
		color: $color-1;
		transition: all 0.3s ease;
		clip-path: polygon(12% 0, 100% 0%, 94% 100%, 6% 100%);
		text-indent: -25px;
		padding: 12px;
		padding-left: 35px;
		position: absolute;
    left: 0;
    font-size: .9em;
    transform: translateY(100%) scaleY(0);
    bottom: -10px;
    width: 100%;
	}
}