@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/Circe/Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

