$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-instagram: "\e900";
$icm-negotiation-path1: "\e901";
$icm-negotiation-path2: "\e902";
$icm-negotiation-path3: "\e903";
$icm-negotiation-path4: "\e904";
$icm-negotiation-path5: "\e905";
$icm-negotiation-path6: "\e906";
$icm-negotiation-path7: "\e907";
$icm-negotiation-path8: "\e908";
$icm-negotiation-path9: "\e909";
$icm-negotiation-path10: "\e90a";
$icm-negotiation-path11: "\e90b";
$icm-negotiation-path12: "\e90c";
$icm-negotiation-path13: "\e90d";
$icm-placeholder-filled-point: "\e90e";
$icm-play-circle: "\e90f";
$icm-search: "\e910";
$icm-settings-path1: "\e911";
$icm-settings-path2: "\e912";
$icm-settings-path3: "\e913";
$icm-settings-path4: "\e914";
$icm-sketch-path1: "\e915";
$icm-sketch-path2: "\e916";
$icm-telegram: "\e917";
$icm-telephone: "\e918";
$icm-twitter-logo-silhouette: "\e919";
$icm-word-path1: "\e91a";
$icm-word-path2: "\e91b";
$icm-word-path3: "\e91c";
$icm-word-path4: "\e91d";
$icm-word-path5: "\e91e";
$icm-word-path6: "\e91f";
$icm-word-path7: "\e920";
$icm-word-path8: "\e921";
$icm-arrow-point-to-right: "\e922";
$icm-building-path1: "\e923";
$icm-building-path2: "\e924";
$icm-building-path3: "\e925";
$icm-building-path4: "\e926";
$icm-building-path5: "\e927";
$icm-building-path6: "\e928";
$icm-building-path7: "\e929";
$icm-building-path8: "\e92a";
$icm-building-path9: "\e92b";
$icm-building-path10: "\e92c";
$icm-building-path11: "\e92d";
$icm-building-path12: "\e92e";
$icm-building-path13: "\e92f";
$icm-building-path14: "\e930";
$icm-building-path15: "\e931";
$icm-building-path16: "\e932";
$icm-building-path17: "\e933";
$icm-building-path18: "\e934";
$icm-diagram-path1: "\e935";
$icm-diagram-path2: "\e936";
$icm-diagram-path3: "\e937";
$icm-diagram-path4: "\e938";
$icm-diagram-path5: "\e939";
$icm-diagram-path6: "\e93a";
$icm-envelope-shape: "\e93b";
$icm-excel-path1: "\e93c";
$icm-excel-path2: "\e93d";
$icm-excel-path3: "\e93e";
$icm-excel-path4: "\e93f";
$icm-excel-path5: "\e940";
$icm-excel-path6: "\e941";
$icm-excel-path7: "\e942";
$icm-excel-path8: "\e943";
$icm-excel-path9: "\e944";
$icm-excel-path10: "\e945";
$icm-excel-path11: "\e946";
$icm-facebook-logo: "\e947";
$icm-growth-path1: "\e948";
$icm-growth-path2: "\e949";
$icm-growth-path3: "\e94a";
$icm-growth-path4: "\e94b";
$icm-icon-1: "\e94c";
$icm-icon: "\e94d";

