@font-face {
    font-family: 'PTSansPro';
    src: url('../fonts/PTSansPro/PTSansPro-Caption.woff2') format('woff2'),
        url('../fonts/PTSansPro/PTSansPro-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('../fonts/PTSansPro/PTSansPro-CaptionBold.woff2') format('woff2'),
        url('../fonts/PTSansPro/PTSansPro-CaptionBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('../fonts/PTSansPro/PTSansPro-Demi.woff2') format('woff2'),
        url('../fonts/PTSansPro/PTSansPro-Demi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('../fonts/PTSansPro/PTSansPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/PTSansPro/PTSansPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

